.main-container {
    text-align:center;
    font-size:24px;
    font-weight: normal;
    padding:48px;
    margin: 0;
}
.main-container span {
    font-weight: bold;

}


/* 
color palette 
A8DF8E
F3FDE8             
FFE5E5
FFBFBF */